<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ground.ground"
    android:versionCode="1"
    android:versionName="1.1" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".model.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controller.person.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.person.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.person.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".controller.person.finalposition.FinalPositionActivity"
            android:label="@string/title_activity_final_position"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.person.profile.MyProfileManagementActivity"
            android:label="@string/title_activity_my_profile_management"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.fc.matchresult.MatchResultActivity"
            android:label="@string/title_activity_match_result"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.fc.create.FCCreateActivity"
            android:label="@string/title_activity_fccreate"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.etc.input.InputResultActivity"
            android:label="@string/title_activity_input_result"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.etc.alarm.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.fc.matchresult.ReadyMatchResultActivity"
            android:label="@string/title_activity_ready_match_result"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".controller.person.login.AreaSearchActivity"
            android:label="@string/title_activity_area_search"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
